.card {
	width: 320px;
	color: black;
	position: relative;
	background: linear-gradient(135deg, #f0f4ff, #dfe9f3);
	border: 1px solid #d0d7e2;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
	padding: 20px;
	transition: all 0.3s ease;
}

.card .cardContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2em;
	height: 100%;
	transition: transform 0.4s ease;
}

.card .cardTop,
.card .cardBottom {
	display: flex;
	justify-content: space-between;
}

.card .cardTop p,
.card .cardTop .cardTitle,
.card .cardBottom p,
.card .cardBottom .cardTitle {
	margin: 0;
}

.card .cardTitle {
	font-weight: bold;
}

.card .cardTop p,
.card .cardBottom p {
	font-weight: 600;
}

.card .cardBottom {
	align-items: flex-end;
}

.card:hover {
	transform: scale(0.97);
	opacity: 0.9;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
	background: linear-gradient(135deg, #cfd4e1, #dfe9f3);
}

.card:hover .instrumentsBlock {
	text-align: center;
	visibility: visible;
}

.instrumentsBlock {
	visibility: hidden;
}

.card:hover .cardContent {
	transform: scale(0.96);
}

.card:active {
	transform: scale(0.9);
}
