.root {
	display: flex;
	justify-content: center;
	background: aliceblue;
}
.title {
	font-size: 36px;
	font-family: fantasy;
	color: #000;
}
.loader {
	position: fixed !important;
	left: 50%;
	top: 50%;
	height: 80px;
	aspect-ratio: 1;
	padding: 10px;
	border-radius: 50%;
	box-sizing: border-box;
	position: relative;
	mask:
		conic-gradient(#000 0 0) content-box exclude,
		conic-gradient(#000 0 0);
	filter: blur(12px);
}
.loader:before {
	content: '';
	position: absolute;
	inset: 0;
	background: conic-gradient(#0000 35%, #c02942, #0000 65%);
	animation: l1 1.5s linear infinite;
}
@keyframes l1 {
	to {
		rotate: 1turn;
	}
}

.todos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
}
